body {
    background-color: beige;
}

section { 
    border: 4px solid black;
    padding: 10px;
    margin: 6px;
    width: 1000px;
}

img {
    border: 4px solid black;
    height: 224px;
}
/*#CajitaEjemplo{
    background-color: yellow;
    color: black;
}

.contenedor-ejemplos {
    border: 3px solid orangered;
}


.contenedor-ejemplos p{
    color: blue;
}

.cajita-imagenes{
    border: 3px solid blue; 
    margin: 16px; Esto separa el border de la caja de fuera (la roja)
    padding: 32px; Esto separa las ímagenes de dentro del border
}*/

